@import url(/index/index.css);

.aboutSection{
    background-image: url(/elements/pic/chasing-you-j7-1366x768.jpg);
}

#mainAboutSection{
    width: 100%;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;

}#mainAboutSection h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}#mainAboutSection p{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: .5rem;
}
#answeredContainer{
    background-image: url(/elements/pic/7a89fa60bd41d774443eb5b7f065be0f.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
}.cardsContainer{
    padding: 2% 1rem;
    margin: 3rem;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;

}
.answersCard{
    padding: 2rem 0rem;
}
.q{
    font-size: 1.2rem;
    text-decoration: underline;
    padding-bottom: 1%;
}
.ans{
    font-size: 1.2rem;
}
#contactUs{
    padding: .5rem;
    margin: 2rem 0rem;
    border: 2px solid white;
    background-color: rgba(0, 255, 255, 0.5);
}